body{
    text-align: center;
    background-color: lightgreen;
}
#HeaderSection{
    padding: 5px;
}
#HeaderSection h1{
    font-family: cursive;
}
input{
    padding: 10px;
    border-radius: 5px;
    font-size: large;
}
#dropbox{
    padding: 10px;
    border-radius: 5px;
    width: 20%;
}
#loginbtn{
    padding: 5px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    background-color: blue;
    color: white;
}